POO-2025-II/Ayudantias Segunda Prueba/Ayudantia 08/Ejercicio 1/dominio/*
POO-2025-II/Ayudantias Segunda Prueba/Ayudantia 08/Ejercicio 1/logica/*
POO-2025-II/Ayudantias Segunda Prueba/Ayudantia 09/Solve/dominio/*
POO-2025-II/Ayudantias Segunda Prueba/Ayudantia 09/Solve/logica/*
POO-2025-II/Ayudantias Segunda Prueba/Ayudantia 09/Solve/gui/*